{% extends 'layouts/account.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Welkom</h1>

                <p>Login in met uw bekende inlogegevens (e-mailadres en wachtwoord)</p>

                {% include "general/flashbag-simple.html.twig" %}

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'messages') }}</div>
                {% endif %}

                <hr>

                <form action="{{ path('login') }}" method="post">
                    <div class="form-group">
                        <label for="username">E-mail adres</label>
                        <input type="text" id="username" name="_username"
                               value="{{ last_username }}"
                               class="form-control" placeholder="E-mailadres"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Wachtwoord</label>
                        <input type="password" id="password" name="_password"
                               class="form-control" placeholder="Wachtwoord"/>
                    </div>

                    <button type="submit" class="btn btn-success float-right">
                        Inloggen
                    </button>
                    <p class="section__register__step__intro">
                        <a class="link__green" href="{{ path('user_password_forgotten') }}">Wachtwoord vergeten?</a>
                    </p>
                    <br/>
                    <p class="section__register__step__intro">
                        Uw bedrijf nog niet geregisteerd? Klik <a class="link__green" href="{{ path('register') }}">hier</a>
                        om uw bedrijf te registeren
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}