{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Gebruikers</h1>

            {% include 'general/flashbag-simple.html.twig' %}

            {{ form_start(form) }}

            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(form.name) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.verified) }}
                    {{ form_row(form.save) }}
                </div>

            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}