{% extends 'layouts/admin.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Users</h1>

            <table class="table">
                <thead>
                <tr>
                    <th>Naam</th>
                    <th>E-mail</th>
                    <th>Gecontroleerd</th>
                    <th class="text-right">Beheer</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{% if user.verified %}Ja{% endif %}</td>
                        <td class="text-right" ><a href="{{ path('admin_user_edit', {userId: user.id}) }}" class="btn btn-warning"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}