{% extends 'base.html.twig' %}

{% block title %}Verstuur je offerte!{% endblock %}

{% block body %}
    {{ include('general/menu.html.twig') }}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.telephoneNumber) }}
    {{ form_row(form.emailAddress) }}
    {{ form_row(form.city) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.impact) }}
    {{ form_row(form.files) }}
    {{ form_row(form.status) }}
    {{ form_row(form.deadline) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}