{%  extends 'base.html.twig' %}

{% block title %}De bevestiging is gelukt1{% endblock %}

{% block body %}
    <h1>Uw offerte aanvraag is succesvol verstuurd. U zult snel van ons horen.</h1>
{% endblock %}