{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}
{% block javascripts %}

{% endblock %}

{% block body %}
    {{ include('general/menu.html.twig') }}
        {% block content %}
        {% endblock %}
    {{ include('general/footer.html.twig') }}
{% endblock %}

