{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Bootstrap core CSS-->
    <link href="{{ asset("vendor/bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="{{ asset("vendor/font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="{{ asset("vendor/datatables/dataTables.bootstrap4.css") }}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ asset("css/sb-admin.css") }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("vendor/jquery/jquery.min.js") }}"></script>
    <script src="{{ asset("vendor/bootstrap/js/bootstrap.bundle.min.js") }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset("vendor/jquery-easing/jquery.easing.min.js") }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ asset("vendor/chart.js/Chart.min.js") }}"></script>
    <script src="{{ asset("vendor/datatables/jquery.dataTables.js") }}"></script>
    <script src="{{ asset("vendor/datatables/dataTables.bootstrap4.js") }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ asset("js/sb-admin.min.js") }}"></script>
{% endblock %}

{% block body_classes %}fixed-nav sticky-footer bg-dark    {% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="{{ path('homepage') }}">Mediatastisch</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ path('admin_categories_overview') }}">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">Categorieën</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ path('admin_article_overview') }}">
                        <i class="fa fa-fw fa-address-book"></i>
                        <span class="nav-link-text">Artikelen</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ path('admin_poll_overview') }}">
                        <i class="fa fa-fw fa-question"></i>
                        <span class="nav-link-text">Vraagstukken</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="{{ path('admin_user_overview') }}">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Gebruikers</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('logout') }}">
                        <i class="fa fa-fw fa-sign-out"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            {% block content %}

            {% endblock %}
        </div>
    </div>

{% endblock %}