<script>
    alertify.set('notifier','position', 'top-center');
    {% for label, flashes in app.session.flashbag.all %}

    {% for flash in flashes %}
    {% if label == "success" %}
    alertify.success("{{ flash }}", 12);
    {% elseif label == "danger" %}
    alertify.error("{{ flash }}", 12);
    {% else %}
    alertify.warning("{{ flash }}", 12);
    {% endif %}
    {% endfor %}

    {% endfor %}
</script>
