<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="{{ path('homepage') }}">ICT Bedrijf gezocht</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown {{ app.request.get('_route') == 'register' ? 'active' }} or
                                            {{ app.request.get('_route') == 'login' ? 'active' }} or
                                            {{ app.request.get('_route') == 'user_settings' ? 'active' }} ">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Bedrijven
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if app.user == null %}
                        <a class="dropdown-item" href="{{ path('login') }}">Inloggen</a>
                        <a class="dropdown-item" href="{{ path('register') }}">Registreren</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('user_settings') }}">Account</a>
                        <a class="dropdown-item" href="{{ path('user_settings') }}">Instellingen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("logout") }}">Uitloggen</a>
                    {% endif %}
                </div>
            </li>
            {% if app.user != null %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin</a>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>
