<html>
<body>
Beste {{ user.name }},<br/>
<br/>
Bedankt voor je registratie bij watvindjij.online!<br/>
Wij hebben uw gegevens geregistreerd en kijken uit naar uw komst. Activeer uw account via de activatielink in uw mail.<br/>
<br/>
Klik <a href="{{ userUrl }}">hier</a> om je account te activeren.<br/>
<br/>
Met vriendlijke groet,<br/>
watvindjij.online Team
</body>
</html>