{% extends 'layouts/account.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="section__register__step__content__h1">Wachtwoord Vergeten</h1>
                <p>Het gebeurd de beste, je bent je wachtwoord kwijt. Geef je e-mail adres op en wij
                    sturen je een nieuw wachtwoord.</p>
                {% include 'general/flashbag.html.twig' %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}