{% extends 'layouts/account.html.twig' %}

{% block content %}


    <div class="container">
        <div class="row">
            <h1>Bedankt voor uw registratie!</h1>
            <p>We hebben zojuist een e-mail gestuurd naar het opgegeven e-mail adres om het account
                te activeren.</p>
            <div class="alert alert-warning" role="alert">
                Tijdelijk uitgeschakeld voor development (gebruik de url: /activate/{userId})
            </div>
        </div>
    </div>
{% endblock %}