{% extends 'layouts/account.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Registeer uw bedrijf</h1>
                <hr>
                    {{ form_start(form) }}

                    {% include 'general/flashbag.html.twig' %}
                    <div class="form-group">
                        {{ form_row(form.businessName) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.email) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.password) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.password_repeat) }}
                        <span class="message"></span>
                    </div>
                <hr>
                    {{ form_row(form.register) }}

                {{ form_end(form) }}
                <p>Is uw bedrijf al aangemeld <a href="{{ path('login') }}">Inloggen</a></p>
            </div>
        </div>
    </div>
{% endblock %}