{% extends "layouts/content.html.twig" %}
{% form_theme businessForm 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="account__settings">
            <div class="row">
                <div class="col-12">
                    <h1>Instellingen</h1>

                    {% include 'general/flashbag-simple.html.twig' %}
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="btn btn-primary btn-block disabled">Account</a>
                            <a href="{{ path('business_settings') }}" class="btn btn-secondary btn-block">Bedrijf</a>
                        </div>
                        <div class="col-9">

                            {{ form_start(businessForm) }}

                            <div class="row">
                                <div class="col-lg-12">
                                    {{ form_row(businessForm.name) }}
                                    <br>
                                    <hr>

                                    {{ form_row(businessForm.save) }}
                                </div>

                            </div>

                            {{ form_end(businessForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}