{% extends "layouts/content.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block content %}

    <div class="container">
        <div class="account__settings">
            <div class="row">
                <div class="col-12">
                    <h1>Instellingen</h1>

                    {% include 'general/flashbag-simple.html.twig' %}
                    <div class="row">
                        <div class="col-3">
                            <a href="#" class="btn btn-primary btn-block disabled">Account</a>
                            <a href="{{ path('business_settings') }}" class="btn btn-secondary btn-block">Bedrijf</a>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-account" role="tabpanel"
                                     aria-labelledby="v-pills-account-tab">
                                    {{ form_start(form) }}

                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.email) }}
                                            <br>
                                            <hr>
                                            <h3>Wachtwoord wijzigen</h3>
                                            <p>Wijzig je wachtwoord door het wachtwoord tweemaal in te voeren.</p>
                                            {{ form_row(form.password) }}
                                            {{ form_row(form.password_repeat) }}

                                            {{ form_row(form.save) }}
                                        </div>

                                    </div>

                                    {{ form_end(form) }}
                                </div>
                                <div class="tab-pane fade" id="v-pills-business" role="tabpanel"
                                     aria-labelledby="v-pills-business-tab">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}